QuanLyKhachSan/QuanLyKhachSan/Connected Services/LoginService/LoginApi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceHotelManager.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceHotelManager.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_nv" type="xs:int" />
      <xs:element minOccurs="0" name="NhanVien" nillable="true" type="tns:nhanvien" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="account" nillable="true" type="tns:account" />
  <xs:complexType name="nhanvien">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chucvu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gioitinh" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ngaysinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sdt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="nhanvien" nillable="true" type="tns:nhanvien" />
</xs:schema>