QuanLyKhachSan/QuanLyKhachSan/Connected Services/PhongService/phongApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="phongApi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50114/phongApi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50114/phongApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50114/phongApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceHotelManager.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IphongApi_getListPhong_InputMessage">
    <wsdl:part name="parameters" element="tns:getListPhong" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getListPhong_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListPhongResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getPhongById_InputMessage">
    <wsdl:part name="parameters" element="tns:getPhongById" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getPhongById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPhongByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getPhieuDatPhongById_InputMessage">
    <wsdl:part name="parameters" element="tns:getPhieuDatPhongById" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getPhieuDatPhongById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPhieuDatPhongByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_ktraPhong_InputMessage">
    <wsdl:part name="parameters" element="tns:ktraPhong" />
  </wsdl:message>
  <wsdl:message name="IphongApi_ktraPhong_OutputMessage">
    <wsdl:part name="parameters" element="tns:ktraPhongResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getDichVuPdp_InputMessage">
    <wsdl:part name="parameters" element="tns:getDichVuPdp" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getDichVuPdp_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDichVuPdpResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_traphong_InputMessage">
    <wsdl:part name="parameters" element="tns:traphong" />
  </wsdl:message>
  <wsdl:message name="IphongApi_traphong_OutputMessage">
    <wsdl:part name="parameters" element="tns:traphongResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getListDichVu_InputMessage">
    <wsdl:part name="parameters" element="tns:getListDichVu" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getListDichVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListDichVuResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_themdv_InputMessage">
    <wsdl:part name="parameters" element="tns:themdv" />
  </wsdl:message>
  <wsdl:message name="IphongApi_themdv_OutputMessage">
    <wsdl:part name="parameters" element="tns:themdvResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getLoaidichvu_InputMessage">
    <wsdl:part name="parameters" element="tns:getLoaidichvu" />
  </wsdl:message>
  <wsdl:message name="IphongApi_getLoaidichvu_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLoaidichvuResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_updatedv_InputMessage">
    <wsdl:part name="parameters" element="tns:updatedv" />
  </wsdl:message>
  <wsdl:message name="IphongApi_updatedv_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatedvResponse" />
  </wsdl:message>
  <wsdl:message name="IphongApi_xoadv_InputMessage">
    <wsdl:part name="parameters" element="tns:xoadv" />
  </wsdl:message>
  <wsdl:message name="IphongApi_xoadv_OutputMessage">
    <wsdl:part name="parameters" element="tns:xoadvResponse" />
  </wsdl:message>
  <wsdl:portType name="IphongApi">
    <wsdl:operation name="getListPhong">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/getListPhong" message="tns:IphongApi_getListPhong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/getListPhongResponse" message="tns:IphongApi_getListPhong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPhongById">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/getPhongById" message="tns:IphongApi_getPhongById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/getPhongByIdResponse" message="tns:IphongApi_getPhongById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPhieuDatPhongById">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/getPhieuDatPhongById" message="tns:IphongApi_getPhieuDatPhongById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/getPhieuDatPhongByIdResponse" message="tns:IphongApi_getPhieuDatPhongById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ktraPhong">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/ktraPhong" message="tns:IphongApi_ktraPhong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/ktraPhongResponse" message="tns:IphongApi_ktraPhong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDichVuPdp">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/getDichVuPdp" message="tns:IphongApi_getDichVuPdp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/getDichVuPdpResponse" message="tns:IphongApi_getDichVuPdp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="traphong">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/traphong" message="tns:IphongApi_traphong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/traphongResponse" message="tns:IphongApi_traphong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListDichVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/getListDichVu" message="tns:IphongApi_getListDichVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/getListDichVuResponse" message="tns:IphongApi_getListDichVu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="themdv">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/themdv" message="tns:IphongApi_themdv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/themdvResponse" message="tns:IphongApi_themdv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLoaidichvu">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/getLoaidichvu" message="tns:IphongApi_getLoaidichvu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/getLoaidichvuResponse" message="tns:IphongApi_getLoaidichvu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatedv">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/updatedv" message="tns:IphongApi_updatedv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/updatedvResponse" message="tns:IphongApi_updatedv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="xoadv">
      <wsdl:input wsaw:Action="http://tempuri.org/IphongApi/xoadv" message="tns:IphongApi_xoadv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IphongApi/xoadvResponse" message="tns:IphongApi_xoadv_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IphongApi" type="tns:IphongApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getListPhong">
      <soap:operation soapAction="http://tempuri.org/IphongApi/getListPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhongById">
      <soap:operation soapAction="http://tempuri.org/IphongApi/getPhongById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhieuDatPhongById">
      <soap:operation soapAction="http://tempuri.org/IphongApi/getPhieuDatPhongById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ktraPhong">
      <soap:operation soapAction="http://tempuri.org/IphongApi/ktraPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDichVuPdp">
      <soap:operation soapAction="http://tempuri.org/IphongApi/getDichVuPdp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traphong">
      <soap:operation soapAction="http://tempuri.org/IphongApi/traphong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListDichVu">
      <soap:operation soapAction="http://tempuri.org/IphongApi/getListDichVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="themdv">
      <soap:operation soapAction="http://tempuri.org/IphongApi/themdv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoaidichvu">
      <soap:operation soapAction="http://tempuri.org/IphongApi/getLoaidichvu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatedv">
      <soap:operation soapAction="http://tempuri.org/IphongApi/updatedv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xoadv">
      <soap:operation soapAction="http://tempuri.org/IphongApi/xoadv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="phongApi">
    <wsdl:port name="BasicHttpBinding_IphongApi" binding="tns:BasicHttpBinding_IphongApi">
      <soap:address location="http://localhost:50114/phongApi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>